/* Removing default browser padding/margin*/
html, body {
    padding: 0;
    margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

.sidenav {
  overflow-y: auto;
  transition: 1s;
  padding-top: 30px;
  padding-bottom: 30px;
}

.sidenav::-webkit-scrollbar {
    display: none;
}

.sidenav a {
  transition: 0.3s;
  text-decoration: none;
}

.sidenav a:hover {
  color: #72abbf;
}

.sidenav a.active {
  color: #99C5B5;
}

.sidenav .closebtn {
  position: fixed;
  top: 25px;
  right: 25px;
  font-size: 36px;
  color: #818181;
  padding: 8px 8px 8px 8px;
}

.sidenav .sidebtn {
  position: fixed;
  top: 65px;
  right: 22px;
  font-size: 30px;
  font-weight: bold;
  color: #818181;
  padding: 8px 8px 8px 8px;
}

.selectnav a {
  padding: 8px 8px 8px 8px;
  font-size: 20px;
  color: #818181;
  display: block;
  text-align:center;
}

.disable-selection {
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.content {
  overflow-y: auto;
}

#books{
  z-index: 3;
  background-color: #ddd;
}

#chapters{
  z-index: 2;
  background-color: #eee;
}

#verses {
  z-index: 1;
  background-color: #fff;
  color: #818181;
}

#bible-content {
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}